html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black; /* black page */
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
}

canvas {
  display: block;
  outline: 1px solid white; /* single-pixel outline */
}
